@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
    --color-primary: #0066FF;
    --color-primary-50: #E5F0FF;
    --color-primary-100: #CCE3FF;
    --color-primary-200: #99C2FF;
    --color-primary-300: #66A3FF;
    --color-primary-400: #3385FF;
    --color-primary-500: #0066FF;
    --color-primary-600: #0052CC;
    --color-primary-700: #003D99;
    --color-primary-800: #002966;
    --color-primary-900: #001433;
    --color-primary-950: #000E24;
}